/* header styles */
/* navber related styles */
/* font-family: "Azeret Mono",monospace; */
.body-container {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

h1 {
    color: rgba(241, 237, 235, 0.858);
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    font-weight: bolder;

}

h3 {
    font-size: 20px;
    font-weight: bolder;
}

/* nav section style */

.navber {
    display: flex;
    gap: 70px;
}

.nav-icon {
    color: rgb(6, 210, 210);
}

.nav-item,
li {
    list-style: none;
    display: flex;
    margin-right: 10px;
    padding: 2px 0px;
    text-align: right;
}


.nav-item,
a {
    /* color: #dcdcdc; */
    text-decoration: none;
    justify-content: end;
}

.nav-item,
a:hover {
    color: #c7be0b;
}

.nav-item,
.home {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0px 10px;
}


/* header section style */
.header-container {

    height: 700px;
    width: 1440px;
    margin: 0px auto;
    position: relative;
    /* display: flex; */
    font-size: small;
    background-image: url("../image/Images\ 2.png");
    background-repeat: no-repeat;

}



/* 
#shape {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
} */

/* mani related styles */
.main-container {}


.M-desacription-1 {
    text-align: center;
    align-items: center;
}

.M-desacription-1 .image-1 img {
    align-content: center;
    text-align: end;
}

.M-desacription-1,
.p {
    text-align: center;
    color: #ffffff;
    font-size: small;
}

.image-1 {
    cursor: pointer;
    margin: 5px;
    padding: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ccc;
    font-size: 0.9em;
    gap: 15px;
    align-items: center;
}

.image-1 img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid #222;

}

.M-desacription-2 {
    width: fixed (1458px);
    height: Hug (370px);
    top: 1370px;
    left: 190px;
    gap: 60px;
}

.M-desacription-2 .about-items {
    background-color: #222;
    color: #ccc;
    font-size: 10px;
    display: flex;
    margin: 10px;
    padding: 5px;
    gap: 10px;
    text-align: left;

}

.image-2 img {
    width: 365px;
    height: 310px;
    top: 32px;
    left: 660px;
    border-radius: 18px;

}

#button {
    background-color: rgba(199, 55, 7, 0.858);
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    color: #fff;
    font-weight: bolder;

}

#Download {
    background-color: rgb(4, 4, 4);
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;
    border: 1PX solid white;
    font-weight: bolder;

}

/* .M-desacription-3,td{
    
} */
.Calculator {
    border: 1px solid black;
    display: flex;
    grid-template-rows: auto;
    background: #222;
    text-align: left;
    margin: 0px;
    padding: 30px;
    gap: 30px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid gray;
    padding: 5px 10px;
}

.box {
    border: 1px solid slategrey;
    background-color: grey;
    gap: 5px;
}

.Calculate-box {
    display: grid;
    grid-template-columns: (1, 2fr);
}

.M-desacription-4 {
    text-align: center;
    margin: 30px;
}

.M-desacription-4 p {
    font-size: small;
}

.image-4 {

    padding: 5px;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 5px;

}

.image-4 img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
}

/* footer related styles */
.footer-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 2em; */
    padding: 0px 80px 0px 80px;
}

footer {
    box-sizing: border-box;
    padding: 30px;
    margin: 0px auto;
    color: #fff;
    background-color: #222;
    align-items: center;
}

.menu {
    list-style: none;

}

footer p {
    color: #ccc;
    font-size: 13px;
    text-align: left;
}

footer a {
    color: #c8bfbf;
    text-decoration: none;
    font-size: small;
}

.footer-bottom p {
    text-align: center;
    font-size: 15px;
    border-top: 2px solid rgb(96, 92, 92);
    padding-top: 20px;
}