/* header styles */
/* navber related styles */
/* font-family: "Azeret Mono",monospace; */
.body-container {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

h1 {
    color: rgba(241, 237, 235, 0.858);
    font-size: 60px;
    font-weight: bolder;
}

h2 {
    font-size: 50px;
    font-weight: bolder;

}

h3 {
    font-size: 30px;
    font-weight: bolder;
}

/* nav section style */

.navber {
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 2rem 10rem 2rem 10rem;
    font-size: 2rem;
}

.nav-icon {
    color: rgb(6, 210, 210);
}

.nav-item,
li {
    list-style: none;
    display: flex;
    margin-right: 10px;
    padding: 2px 0px;
    text-align: right;
}


.nav-item,
a {
    /* color: #dcdcdc; */
    text-decoration: none;
    justify-content: end;
}

.nav-item,
a:hover {
    color: #d00404;
}

.nav-item,
.home {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0px 10px;
}


/* header section style */
.header-container {
    height: 710px;
    width: 1440px;
    top: 0px;
    left: 0px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    background-position: center;
    font-size: small;
}

.header-desacription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    display: flex;
    padding: 3rem 10rem 3rem 10rem;
    gap: 10rem;
}

.header-desacription #shape {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button-1 {
    background-color: rgba(199, 55, 7, 0.858);
    border-radius: 45px;
    padding: 15px 60px;
    font-size: 20px;
    border: none;
    color: #fff;
    font-weight: bolder;

}

#Download {
    background-color: rgb(4, 4, 4);
    color: #fff;
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 20px;
    border: 1px solid white;
    font-weight: bolder;

}

/*mani related styles */

.M-desacription-1 {
    text-align: center;
    align-items: center;
    margin: 50px 100px;
}

.M-desacription-1 p {
    text-align: center;
    color: #a09e9e;
    font-size: medium;
}

.image-1 {
    cursor: pointer;
    margin-top: 4rem;
    padding: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ccc;
    font-size: 0.8em;
    gap: 15px;
    align-items: center;
}

.image-1 img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 3px solid #222;

}

.M-desacription-2 {
    width: fixed (1458px);
    height: Hug (370px);
    top: 1370px;
    left: 390px;
    gap: 60px;
    margin: 50px 100px;

}

.M-desacription-2 .about-items {
    background-color: #222;
    color: #ccc;
    font-size: 10px;
    display: flex;
    margin: 50px;
    padding: 35px 50px;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 18px;
    padding: 30x;
}

.image-2 img {
    width: 365px;
    height: 310px;
    top: 32px;
    left: 660px;
    border-radius: 18px;
    object-fit: none;
    object-position: 66% 33%;
}

.M-desacription-2 p {
    font-size: medium;
    text-align: start;
}

#button-2 {
    background-color: rgba(199, 55, 7, 0.858);
    border-radius: 45px;
    padding: 15px 70px;
    font-size: 20px;
    border: none;
    color: #fff;
    font-weight: bolder;
}

.M-desacription-3 p {
    text-align: left;
    font-size: medium;
}

.sub-tittle {
    margin: 5rem 5rem 5rem 25rem;
}

.Calculator-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #222;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.BMI-Chart {
    margin: 2rem 12rem 12rem 12rem;
    font-size: medium;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgb(90, 88, 92);
    padding: .9rem 2rem;
    text-align: justify;
}

td {
    color: #ccc;
}

.Calculate-box {
    display: grid;
    grid-template-columns: (2, 1fr);
}

input[type=text] {
    width: 20rem;
    height: 3rem;
    margin: .4rem .2rem;
    box-sizing: border-box;
    border: none;
    border-radius: .5rem;
    background: rgb(54, 54, 54);
    text-align: justify;
    color: #ccc;
    font-size: medium;
}

.calculate-item,
#box-3 {
    grid-column: span 2;

}

.box-3 {
    grid-column: span 2;
}

#button-3 {
    background-color: rgba(199, 55, 7, 0.858);
    border-radius: 45px;
    padding: 15px 70px;
    font-size: 20px;
    border: none;
    color: #fff;
    font-weight: bolder;
    margin: 1.8rem 0rem;
}

.M-desacription-4 {
    text-align: center;
    /* margin: 30px; */
    margin: 50px 100px;

}

.M-desacription-4 p {
    font-size: medium;
}

.image-4 {

    padding: 5px;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 5px;

}

.image-4 img {
    width: 370px;
    height: 300px;
    border-radius: 5px;

}

image div {
    position: absolute;
}

/* footer related styles */
.footer-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 2em; */
    padding: 0px 80px 0px 80px;

}

footer {
    box-sizing: border-box;
    padding: 30px;
    margin: 0px auto;
    color: #fff;
    background-color: #222;
    align-items: center;
}

.menu {
    list-style: none;

}

footer p {
    color: #ccc;
    font-size: 15px;
    text-align: left;
}

footer a {
    color: #c8bfbf;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom p {
    text-align: center;
    font-size: 20px;
    border-top: 2px solid rgb(96, 92, 92);
    padding-top: 3rem;
    margin: 5px 100px;

}

@media screen and (max-width:576px) and (min-width:577px) {}